.parent{
    position: relative;

}

.img3{
    top: 10%;
    left: 10%;
    position: absolute;
    width: 10%;
}
.img1{
    animation-name: hour;
    animation-duration: 10s;
    animation-timing-function: linear;
    top: 17.5%;
    left: 15%;
    width: 3%;
    position:absolute;
}
.img2{
    animation-name: minute;
    animation-duration: 10s;
    animation-timing-function: linear;
    top: 12%;
    left: 14%;
    
    height: 7%;
    position: absolute;
}
.caption{
    background-color: rgb(231, 219, 219);
    opacity: .9;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 60%;
    
    padding: 6%;
}
@keyframes minute {
    from{
        transform-origin: bottom center;
        transform: rotate(0deg);
    }
    to{
        transform-origin: bottom center;
        transform: rotate(360deg);
    }
}
@keyframes hour {
    from{
        transform-origin: center left;
        transform: rotate(0deg);
    }
    to{
        transform-origin: center left;
        transform: rotate(30deg)
    }
    
}